database:
    user: username
    password: password
    host: localhost
    database: flickr
flickr:
    api_key: KEY
    api_secret: SECRET
worker:
    id: UNIQUE MEANINGFUL ID, E.G. IP AND SUBDIRECTORY
